---
layout: default
title: 家
website: true
geomap: true
ref: index
lang: cn
avatar: true
---
<div class="posts">
    {% assign posts=site.posts | where:"lang", page.lang %}
    {% for post in posts %}
    {% if post.lang == page.lang %}
    <article class="post">
      <h1 class="post-title">
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
      </h1>

      <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">
        {% assign m = page.date | date: "%-m" %}
        {{ page.date | date: "%Y" }}
        {% case m %}
          {% when '1' %}一月
          {% when '2' %}二月
          {% when '3' %}三月
          {% when '4' %}四月
          {% when '5' %}五月
          {% when '6' %}六月
          {% when '7' %}七月
          {% when '8' %}八月
          {% when '9' %}九月
          {% when '10' %}十月
          {% when '11' %}十一月
          {% when '12' %}十二月
        {% endcase %}
        {{ page.date | date: "%-d" }}
      </time>
      {% if post.content contains site.excerpt_separator %}
      {{ post.excerpt }}
      {% else %}
      {{ post.excerpt | truncatewords:26}}
      {% endif %}

      <p><a class="btn btn-sm btn-primary" href="{{site.baseurl}}{{ post.url }}#read-more" role="button">阅读更多<i class="fa fa-arrow-circle-right"></i></a>
      </p>


      {% include tagsforpost.html tags=post.tags %}

    </article>
    {% endif %}
    {% endfor %}
</div>
{% include analytics.html %}
